{% extends 'base.html' %}
{% block title %}

PRODUCTS

{% endblock %}

{% block content %}
    <table class="table table-hover table-dark">
    <thead>
        <tr>
            <!-- Your Columns HERE -->
            <th scope="col">productID</th>
            <th scope="col">item_name</th>
            <th scope="col">quantity</th>
            <th scope="col">price</th>
            <th scope="col">Location</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        <!-- rows inside the table HERE: -->
        {% for item in items %}
            <tr>
                <td>{{ item.productID }}</td>
                <td>{{ item.item_name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.Location }}</td>
                <td>
                    <button class="btn btn-outline btn-info">More Information</button>
                    <button class="btn btn-outline btn-success">Purchase This Item</button>
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}